@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: roboto, sans-serif;
  font-size: 1rem;
  background: url(/adaction_Front-end/images/collections_back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 80vh;
  gap: 5rem;

  .link-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    a {
      overflow: hidden;
      text-decoration: none;
      text-align: center;
      background-color: rgb(255, 255, 255);
      border-radius: 1rem;
      border: 1px solid black;
      color: inherit;

      padding: 0.5rem;
      width: 200px;

      &:hover {
        background-color: #97b181;
        color: white;
      }
    }

    #volunteer {
      border-radius: 1rem;
      padding: auto;
      padding: 0.5rem;
      border: 1px solid black;
      cursor: pointer;
      font-family: roboto;
      font-size: 1rem;
      width: 200px;

      &:hover {
        background-color: #97b181;
        color: white;
      }
    }
  }

  #form-box {
    position: absolute;
    top: 65%;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    width: 300px;
    text-align: center;
    padding: 1rem;
    background-color: #97b181;
    border-radius: 1rem;
    border: 1px solid black;
    display: none;

    input {
      padding: 0.5rem;
      border: 1px solid black;
      width: 250px;
    }

    #submit {
      border-radius: 1rem;
      padding: auto;
      padding: 0.5rem;
      border: 1px solid black;
      cursor: pointer;
      width: 200px;

      &:hover {
        background-color: #97b181;
        color: white;
      }
    }
  }
  .logo-pos {
    width: 300px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}
